.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fff;
}

img {
  max-width: 280px;
}

@media (max-width: 700px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}
